Repository status-im/status-go, pull requests merged in 2023-08, with the labels that each got.

#3700 nix: ugprade nixpkgs to match version use in mobile
  shell.nix
Labels: nix

#3857 fix: Extract `PairDevices` func
  protocol/communities_messenger_test.go
  protocol/messenger_contact_requests_test.go
  protocol/messenger_sync_customization_color_test.go
  protocol/messenger_sync_settings_test.go
  protocol/messenger_testing_utils.go
Labels: refactor

#3874 chore: Common `createOtherDevice` for community_messenger_test
  protocol/communities_messenger_test.go
  protocol/push_notification_test.go
Labels: refactor

#3916 ci: drop wrongly calling make install-lint
  _assets/ci/Jenkinsfile.android
  _assets/ci/Jenkinsfile.docker
  _assets/ci/Jenkinsfile.ios
  _assets/ci/Jenkinsfile.linux
  _assets/ci/Jenkinsfile.tests
Labels: jenkins, nix

#3750 Improve Local Pairing Idempotence
  VERSION
  api/geth_backend.go
  mobile/status.go
  server/pairing/statecontrol/state_management.go
  server/pairing/statecontrol/state_management_test.go
Labels: local-pairing

#3901 feat: Unfurl image URLs
  VERSION
  appdatabase/migrations/bindata.go
  appdatabase/migrationsprevnodecfg/bindata.go
  images/adjust.go
  images/decode.go
  mailserver/migrations/bindata.go
  multiaccounts/migrations/bindata.go
  protocol/anonmetrics/migrations/migrations.go
  protocol/common/message.go
  protocol/common/message_test.go
  protocol/encryption/migrations/migrations.go
  protocol/linkpreview/linkpreview.go
  protocol/linkpreview/linkpreview_test.go
  protocol/messenger_test.go
  protocol/migrations/migrations.go
  protocol/persistence_test.go
  protocol/protobuf/chat_message.pb.go
  protocol/protobuf/chat_message.proto
  protocol/pushnotificationclient/migrations/migrations.go
  protocol/pushnotificationserver/migrations/migrations.go
  protocol/transport/migrations/migrations.go
  server/handlers_test.go
  static/bindata.go
  t/bindata.go
  walletdatabase/migrations/bindata.go
Labels: feature, E:New Unfurling API

#3917 chore: Moved link preview unfurlers to a separate package
  protocol/linkpreview/linkpreview.go
  protocol/linkpreview/unfurlers/image_unfurler.go
  protocol/linkpreview/unfurlers/oembed_unfurler.go
  protocol/linkpreview/unfurlers/opengraph_unfurler.go
  protocol/linkpreview/unfurlers/unfurler.go
  protocol/messenger.go
  protocol/messenger_linkpreview.go
  protocol/messenger_linkpreview_test.go
  services/ext/api.go
Labels: E:New Unfurling API
