Repository status-im/status-go, pull requests merged in 2025-03, with the labels that each got.

#6210 feat(logging)_: enable runtime logs configuration
  api/geth_backend.go
  logutils/core.go
  mobile/status.go
  params/config.go
  protocol/messenger_settings.go
  tests-functional/clients/status_backend.py
  tests-functional/tests/test_logging.py
Labels: feature, core-team

#6386 chore(market)_: Diagnostic information about rpc/market API calls
  .github/CODEOWNERS
  circuitbreaker/circuit_breaker.go
  circuitbreaker/circuit_breaker_test.go
  healthmanager/aggregator/aggregator.go
  healthmanager/aggregator/aggregator_test.go
  healthmanager/blockchain_health_manager_test.go
  healthmanager/provider_errors/provider_errors.go
  healthmanager/provider_errors/rpc_provider_errors.go
  healthmanager/providers_health_manager_test.go
  healthmanager/rpcstatus/provider_status.go
  healthmanager/rpcstatus/provider_status_test.go
  metrics/wakumetrics/client.go
  metrics/wakumetrics/client_test.go
  rpc/chain/blockchain_health_test.go
  rpc/chain/client.go
  rpc/client.go
  services/wallet/api.go
  services/wallet/thirdparty/http_client.go
  services/wallet/thirdparty/market/coingecko/client.go
  services/wallet/thirdparty/market/cryptocompare/client.go
  services/wallet/thirdparty/market/cryptocompare/client_test.go
  services/wallet/token/token-lists/fetcher/fetcher.go
Labels: wallet-team

#6438 feat_: add usdc to default tokens list
  services/wallet/reader.go
Labels: wallet-team

#6459 fix(nix)_: allow re-useing of existing Nix shell
  Makefile
  nix/scripts/shell.sh
Labels: infra, nix

#6471 chore(ens)!: cleaning up ens service
  services/ens/api.go
  services/ens/ensresolver/resolver.go
  services/utils/utils.go
Labels: breaking change

#6472 chore(stickers)!: cleaning up stickers service
  services/stickers/pending.go
  services/stickers/transactions.go
Labels: breaking change
