Repository status-im/status-go, pull requests merged in 2025-01, with the labels that each got.

#6151 chore(config)_: rpc providers configuration
  api/backend_test.go
  api/default_networks.go
  api/default_networks_test.go
  api/defaults.go
  appdatabase/migrations/sql/1733400346_add_rpc_providers.up.sql
  params/config.go
  params/network_config.go
  params/networkhelper/provider_utils.go
  params/networkhelper/provider_utils_test.go
  params/networkhelper/validate.go
  params/networkhelper/validate_test.go
  rpc/network/db/network_db.go
  rpc/network/db/network_db_test.go
  rpc/network/db/rpc_provider_db.go
  rpc/network/db/rpc_provider_db_test.go
  rpc/network/db/utils.go
  rpc/network/testutil/testutil.go
  sqlite/driver.go
Labels: wallet-team

#6239 fix_: ensure generated identity-images have a valid clock value
  images/main.go
  images/main_test.go
  protocol/messenger_contacts.go
  server/server_media.go
  server/server_test.go
Labels: mobile-core

#6228 feat_: integrate base chain
  .codeclimate.yml
  api/backend_test.go
  api/default_networks.go
  api/default_networks_test.go
  api/defaults.go
  contracts/balancechecker/address.go
  contracts/community-tokens/deployer/address.go
  contracts/ethscan/address.go
  contracts/gas-price-oracle/address.go
  contracts/hop/L2_BaseBrige.abi
  contracts/hop/address.go
  contracts/hop/l2Contracts/l2BaseBridge/l2BaseBridge.go
  mobile/callog/status_request_log.go
  multiaccounts/accounts/database.go
  protocol/communities/manager.go
  protocol/requests/create_account.go
  rpc/network/network.go
  services/wallet/activity/activity.go
  services/wallet/common/const.go
  services/wallet/onramp/provider_mercuryo.go
  services/wallet/onramp/provider_moonpay.go
  services/wallet/onramp/provider_ramp.go
  services/wallet/router/common.go
  services/wallet/router/pathprocessor/processor_bridge_hop.go
  services/wallet/router/pathprocessor/processor_swap_paraswap.go
  services/wallet/router/router_test_data.go
  services/wallet/router/router_updates.go
  services/wallet/router/sendtype/send_type.go
  services/wallet/thirdparty/alchemy/client.go
  services/wallet/thirdparty/mercuryo/types.go
  services/wallet/thirdparty/opensea/client_v2.go
  services/wallet/thirdparty/opensea/types_v2.go
  services/wallet/thirdparty/rarible/client.go
  services/wallet/thirdparty/rarible/types.go
  services/wallet/token/tokenstore.go
  services/wallet/transfer/commands.go
  tests-unit-network/cryptocompare/cryptocompare_test.go
  transactions/transactor.go
Labels: wallet-team

#6281 fix(udp)_: fix for the TestUDPNotifier
  server/pairing/peers/udp_notifier_test.go
Labels: E:Local Pairing
